
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #F0F0F0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F0F0F0;
}

.cabecalho-imagem {
    height: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    color: #A25772;
}

.cabecalho-menu-item:hover {
    color: #5C5470;
}

.conteudo-principal {
    padding: 0 200px 0 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-foto{
    border-radius: 100%;
    height: 300px;
}

.conteudo-principal-escrito {
    margin-right: 100px;
    padding: 8px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Josefin Sans', sans-serif;
    color: #A25772;
    font-weight: 300;
    font-size: 72px;
    margin-bottom: 20px;
    text-align: justify;
}

.conteudo-principal-escrito-titulo:hover {
    color: #5C5470;
}

.conteudo-principal-escrito-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.conteudo-principal-escrito-subtitulo-redes {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #A25772;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo-redes:hover {
    color: #5C5470;
}

.conteudo-principal-escrito-subtitulo {
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #A25772;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo:hover {
    color: #5C5470;
}

.conteudo-principal-redes {
    text-align: center;
}

.icones-redes-link{
    padding: 5px;
}

.redes-link {
    align-items: center;
    height: 35px;
}

#about {
    padding-top: 100px;
}

#portfolio {
    padding-top: 40px;
}

#blog {
    padding-top: 40px;
}

#contact {
    padding-top: 40px;
}

.projetos {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    color: #5C5470;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;

}

.posts {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    color: #5C5470;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;

}

.contato {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    color: #5C5470;
    margin: 10px;
}

.conteudo-principal-escrito-texto-contato {
    justify-content: center;
}

.contato-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

.contato-caixa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #5C5470;
}

.formulario-caixa {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    gap: 3px;
    color: #5C5470;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formulario-botao {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    gap: 3px;
    color: #352F44;
    background: #B9B4C7;
    border-radius: 8%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
}

.rodape-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #A25772;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

